.cardImageContainer {
border-radius: 20px 0px 20px 0px;
}
.coveredImage {
border-radius: 18px 0px 18px 0px;
}
.emby-button:focus:not(.btnUserViewHeader) {
    background: #279677;
}
.innerCardFooter {
    background: rgba(0,0,0,0.7);
    background: -webkit-linear-gradient(rgba(0,0,0,0), black) !important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(0,0,0,0), black) !important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(0,0,0,0), black) !important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(0,0,0,0), black) !important; /* Standard syntax (must be last) */
    border-radius:  12px 0px 12px 0px;
} 
