/* SNOW FALL EFFECT, TEMPORARY FOR CHRISTMAS, REMOVE AFTER NEW YEAR and remove snow html from home.html and item.html */
#snow {
	background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	-webkit-animation: snow 25s linear infinite;
	-moz-animation: snow 25s linear infinite;
	-ms-animation: snow 25s linear infinite;
	animation: snow 25s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}

/* SNOW FALL EFFECT, TEMPORARY FOR CHRISTMAS, REMOVE AFTER NEW YEAR and remove snow html from home.html and item.html */

.backgroundContainer {
    background-image: url(https://www.imageupload.co.uk/images/2016/11/25/grad2.png);
    background-size: cover;
    background-color: #111511;
}

.cardImageContainer {
border-radius: 20px 0px 20px 0px;
}

.coveredImage {
border-radius: 18px 0px 18px 0px;
}

.userViewButtonText {
    border-bottom: 0px solid transparent !important;
}

.emby-button:focus:not(.btnUserViewHeader) {
    background: #279677;
}

.innerCardFooter {
    /* background: rgba(0,0,0,0.7); */ /*this bit was outquoted, already inside defaultskin */ /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(0,0,0,0), black) !important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(0,0,0,0), black) !important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(0,0,0,0), black) !important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(0,0,0,0), black) !important; /* Standard syntax (must be last) */
    border-radius:  12px 0px 12px 0px;
}

.itemPageMain { 
    background: rgba(0,0,0,0);
    background: -webkit-linear-gradient(#000000, rgba(0,0,0,0));
    background: -o-linear-gradient(#000000, rgba(0,0,0,0));   
    background: -moz-linear-gradient(#000000, rgba(0,0,0,0));
    background: linear-gradient(#000000, rgba(0,0,0,0));
    border-radius: 5px 20px 0px 0px;
    margin-left: -15px;
    padding-left: 5px;
    padding-top: 5px;
}
